@use "./base.scss";

.page-header::before {
  content: "";
  display: block;
  background: url("/capa.jpg") no-repeat center center;
  background-size: cover;
  height: 250px; /* altura da capa */
  border-radius: 12px;
  margin-bottom: 1rem;
}
